/* for styling new elements on main page */  


  #Pracownia .carousel-inner {
      width: 100%;
      margin: auto;
	  overflow: visible;
	  box-sizing: border-box;
  }
  
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
	  width: auto;
	  margin: auto;
	  max-height: 600px;
  }

	.carouselBox {
		height: 100%;
		padding: 0px;
		color: white;
		border-style: solid;
		border-width: 1px;
		background: rgba(0, 10, 30, 0.45);
	}
				.carouselBox .image
				{
					display: block;
					position: absolute;
					top: 0;
					width: 50%;
					height: auto;
					max-height: 600px;
					background: #152E33;
					overflow: hidden;	
					box-sizing: border-box;
				}

					.carouselBox .image img
					{
						position: absolute;
						top: 0;
						height: auto;
						width: 100%;
					}


.carouselFull {
	display: block;
	position: relative;
	top: 0px;
	#width: 100px;
	height: 100%;
	max-height: 600px;
	overflow: hidden;
	box-sizing: border-box;
}


.mapBox {
	min-height: 300px;
}

.mapBoxInner {
	min-height: 300px;	
	overflow: hidden;	
}


#onBoot{
	#font-size: 16px;
}
div.fadeMe {
  opacity:    0.5; 
  background: #0F0; 
  #width:      250px;
  height:     100%; 
  z-index:    10;
  top:        50px; 
  right:       0; 
  #left:      0; 	
  position:   fixed; 
}

.featureImageWrapper{
    overflow:hidden;
	width: 50%;
	height: 100%;
}

.featureImageWrapper img{
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    #margin: auto;
}

#slideXerion {
    position: absolute;
    left: -100px;
    width: 250px;
    height: 100px;
}

.quoteXerion {
	font-style: italic;
}

h3
{
	border-left: 5px solid #eee;
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;	
}

.quoteXerionAuthor {
	text-align: right;
}

.kokoButton {
	background: #fff;
	background-clip: border-box;
	background-color: rgba(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
 	border-bottom-color: rgba(255, 255, 255, 0.5);
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;	
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(53, 184, 130);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(53, 184, 130);
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset;
	box-sizing: border-box;
	#color: rgb(53, 184, 130);
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(53, 184, 130);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 10px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-decoration-color: rgb(53, 184, 130);
	text-decoration-style: solid;
	text-shadow: rgba(53, 184, 130, 0.25) 0px 0px 0.5px;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;	
	transition-delay: 0s, 0s;
	transition-duration: 0.35s, 0.35s;
	transition-property: background-color, color;
	transition-timing-function: ease-in-out, ease-in-out;
	vertical-align: baseline;
}

.kokoButton:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgb(255, 255, 255);	
}

.kokoButtonInvert {
	background: #fff;
	background-clip: border-box;
	background-color: rgba(255, 255, 255, 0.1);
	background-image: none;
	background-origin: padding-box;
 	border-bottom-color: rgba(255, 255, 255, 0.5);
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;	
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: rgb(53, 184, 130);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(53, 184, 130);
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(53, 184, 130);
	outline-style: none;
	outline-width: 0px;
	padding-bottom: 14px;
	padding-left: 42px;
	padding-right: 42px;
	padding-top: 14px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-decoration-color: rgb(53, 184, 130);
	text-decoration-style: solid;
	text-shadow: rgba(53, 184, 130, 0.25) 0px 0px 0.5px;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;	
	transition-delay: 0s, 0s;
	transition-duration: 0.35s, 0.35s;
	transition-property: background-color, color;
	transition-timing-function: ease-in-out, ease-in-out;
	vertical-align: baseline;
}

.kokoButtonInvert:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(53, 184, 130);
}

    .cctooltip {
    color: #FFFFFF;
    font-style: italic;
    line-height: 20px;
    margin-top: 250px;
    opacity: 0;
    position: absolute;
    text-align: left;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.kokoGallery {
    color: black;
}
.kokoGalleryInv {
    color: white;
}

.kokoGalleryTitle {
    font-style: italic;	
	font-size: 2em;

} 
.kokoGalleryAuthor {
	font-size: 1.5em;	
} 

.kokoGalleryLink a {
	#color: green;
}

.kokoGalleryArrow { 
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6); 
	font-size: 35px;
	cursor: pointer;
}

/*
.wrapperXerion {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 100px; 
    border: 1px solid black;
}
.wrapperXerion #slideXerion {
    transition: 5s;
    left: 0;
} */



.kokoImagePopup {
	width: 80%;
	height: 80%;
}

.kokoNewsBox {
	width: 400px;
	position: absolute;
	left: 20px;
	z-index: 666;	
}

.kokoNewsBox a:hover {
	text-decoration: none;
	color: #ffbd00;	
	background: #8D0036;	
}

.kokoNewsBox a {
	color: #000;
	/*color: #ffbd00;	*/
	background: #BD0049;
	text-decoration: none;
	/* color: #367E57; background: #367E57; */
}

.kokoNewsBox a:active {
	text-decoration: none;
}

.xerionNewsLinkTitle {
	box-sizing: border-box;
	text-transform: uppercase;
	padding: 10px;
	margin-top: 6px;
	display: inline-block;
	margin-bottom: 6px;
	letter-spacing: 5px;
}

.xerionNewsBackground {
	color: #000;
	margin-top: 5px;
	margin-bottom: 5px;
	border-left: 5px solid #CC9C09;
	text-decoration: none
	/* color: #367E57; background: #367E57; */
}

.xerionNewsLinkMore {
	padding-left: 10px;
}


.xerionRight {
	text-align: right;
}

p a {
	color:#ffbd00;
  /* color: #2bffad;
	#00FF00
	rgb(53, 184, 130) */
}
p a:hover,
p a:focus {
  color: #ea8500;;
}

.nav-tabs a {
	color:#ffbd00;
}



.cookie-message2 {
	background: #183026 url('../images/bg.jpg') no-repeat;
	background-size: cover;
	background-position: center 0;
	background-attachment: fixed;

  	color: #AAA;
	  position: relative;
	  font-size: 8pt;
	text-align: right;
	  a {
		    color: #fff;
	  }
}

@media screen and (max-width: 700px){
  .boxK{
    width: 70%;
  }
  .popupK{
    width: 70%;
  }
}



@media (min-width: 1240px)
.container {
    width: 1170px;
}

.overlayK {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlayK:target {
  visibility: visible;
  opacity: 1;
}

.popupK {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: auto;	
  max-width: 90vw;
  max-height: 90vh;
  position: relative;
  transition: all 5s ease-in-out;
}

.popupK img {
	width: auto;
	height: auto;
	max-width: 80vw;
	max-height: 80vh;
}

.popupK h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popupK .closeK {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popupK .closeK:hover {
  color: #06D85F;
}
.popupK .contentK {
  max-height: 30%;
  overflow: auto;
}

.kokoImagePopup {
	width: 80%;
	height: 80%;
}

.kokoNewsBox {
	width: 400px;
	position: absolute;
	left: 20px;
	z-index: 666;	
}

.anchor{
  display: block;
  height: 60px; /*same height as header*/
  margin-top: -60px; /*same height as header*/
  visibility: hidden;
}


@media screen and (max-width: 700px){
  .boxK{
    width: 70%;
  }
  .popupK{
    width: 70%;
  }
	h2, h3, h4, h5, h6, .quoteXerion
	{
		border: none;
		padding: 0px;
	}	
}




