.card{
  margin: 30px;
}

.profile-card-wide.mdl-card {
  width: 512px;
}
.profile-card-wide > .mdl-card__title {
  color: #fff;
  height: 492px;
  background: url("img/profilepic.jpg") center / cover;
}
.profile-card-wide > .mdl-card__menu {
  color: #fff;
}

.personal_data th {
	text-align: right;
	padding: 10px;
}
.social, .button {
  text-align: center;
}

.info-card-contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.social img {
  margin: 10px;
}
.button {
  margin: 20px
}


.mdl-card__supporting-text {
  text-align: left;
}

/* SKILL CARDS OPTIONS */

.skill-level {
  margin-bottom: 10px;
}

.project-card, .skills-card {
  display: inline-block !important;
  margin: 20px
}
