.card{
  margin: 30px;
}

.profile-card-wide.mdl-card {
  width: 512px;
}
.profile-card-wide > .mdl-card__title {
  color: #fff;
  height: 432px;
  background: url("profpic.jpg") center / cover;
}
.profile-card-wide > .mdl-card__menu {
  color: #fff;
}

.personal_data th {
	text-align: right;
	padding: 10px;
}