.white-section{
	background-color: white;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.dark-section{
	background-color: #1D1D1D;
	color: white;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.card.profile-card-wide {
	margin-right: 0px;
}
.card.info-card-wide {
	margin-left: 10px
}

.skill-category {
	font-weight: bold;
}

.white-section, .dark-section h1 {
	text-align: center;
}

.mdl-grid.center-items {
  justify-content: center;
}
